{{#each list}}
    <li class="friends__item" draggable="true">
        <img class="friends__img" src="{{photo_100}}" alt="{{first_name}} {{last_name}}">
        <div class="friends__name">
            {{first_name}} {{last_name}}
        </div>
        <svg class="btn-plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><defs><path id="a" d="M449 276a2 2 0 0 1 2 2v4h4a2 2 0 1 1 0 4h-4v4a2 2 0 1 1-4 0v-4h-4a2 2 0 1 1 0-4h4v-4c0-1.1.9-2 2-2z"/></defs><g transform="translate(-441 -276)"><use fill="#c4c4c4" xlink:href="#a"/></g></svg>
    </li>
{{/each}}